.App {
  text-align: center;
}

.container {
  background-color: #17191F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.upload-box {
  position: relative;
  width: 35%;
  min-width: 300px;
  height: 545px;
  /* min-height: 90vh; */
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 18px 2px rgba(16, 17, 20, 1);
  -moz-box-shadow: -1px 1px 18px 2px rgba(16, 17, 20, 1);
  box-shadow: -1px 1px 18px 2px rgba(16, 17, 20, 1);
  background-color: #3c424a;
  color: white;
}

.dropzone {
  height: 50%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    #543148 0%,
    #956054 50%,
    #bb854a 100%
  );
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropzone:focus {
  outline: none;
}

.dropzone__box {
  border-radius: 7px;
  border: dashed 3px rgb(236, 236, 236);
  padding: 0.5em 4em;
}

.gallery {
  width: 60%;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__img-container {
  position: relative;
  margin-top: 3em;
  height: auto;
  /* min-height: 100px; */
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 18px 2px rgba(16, 17, 20, 1);
  -moz-box-shadow: -1px 1px 18px 2px rgba(16, 17, 20, 1);
  box-shadow: -1px 1px 18px 2px rgba(16, 17, 20, 1);
  overflow: hidden;
  background-color: #44474e;
}

.gallery__img-container:hover .gallery__copy-link-btn {
  display: block;
}

.gallery__image {
  width: 100%;
}

.gallery__input {
  width: 100%;
  color: white;
  padding: 1.5em 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
}

.gallery__input:focus {
  outline: none;
}

.urlupload {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.urlupload__input {
  width: 60%;
  color: white;
  padding: 10px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #272a33;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.urlupload__input:focus {
  outline: none;
}

.urlupload__input:hover {
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 70%;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.gallery__copy-link-btn {
  display: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: #33353b;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
}

.gallery__copy-link-btn:hover {
  background-color: #4b4d52;
}

.login-button {
  position: fixed;
  right: 20px;
  top: 10px;
}

.logout-button {
  position: absolute;
  right: 20px;
  top: 10px;
}
